*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    
}

.navbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    
    a:hover {
        background-color: #111;
    }
}

.main {
    padding: 10rem;
    background-color: #252525;
    min-height: calc(100vh - 46px);

    ul {
        list-style: none;
    }
}

.senaste {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
        // background-color: #333;
    }
    
    li {
        float: left;
    }

    li {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

button {
    background-color: #333;
    color: white;
    padding: 1rem;
    // margin: 8px 0;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #111;
}
input,
option,
select {
    padding: 1rem;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: large;
    color: #111;
}
